services:

  addon-v2g-liberty:
    build:
      context: ../v2g-liberty
      dockerfile: Dockerfile.dev
    volumes:
      - ..:/workspaces:cached
      - ./config:/homeassistant
      - ../v2g-liberty/rootfs/root/homeassistant/www/v2g_liberty/v2g-liberty-cards:/homeassistant/www/v2g_liberty/v2g-liberty-cards
      - ../v2g-liberty/data:/data
      - ../v2g-liberty/logs:/config/logs
    command: ["/bin/bash", "-c", "/workspaces/v2g-liberty/script/init-config && sleep infinity"]
    healthcheck:
      test: ['CMD', '/workspaces/v2g-liberty/script/is-container-ready']
      interval: 3s
      timeout: 1s
      retries: 100
    networks:
      - v2g_network

  homeassistant:
    image: homeassistant/home-assistant:2025.12.3
    restart: unless-stopped
    ports:
      - 8123:8123
    volumes:
      - ./config:/config
      - ../v2g-liberty/rootfs/root/homeassistant/www/v2g_liberty/v2g-liberty-cards:/config/www/v2g_liberty/v2g-liberty-cards
    depends_on:
      addon-v2g-liberty:
        condition: service_healthy
    networks:
      - v2g_network

  v2g-liberty-cards:
    build:
      context: ../v2g-liberty-cards
      dockerfile: Dockerfile.dev
    volumes:
      - ..:/workspaces:cached
      - ../v2g-liberty/rootfs/root/homeassistant/www/v2g_liberty/v2g-liberty-cards:/workspaces/v2g-liberty-cards/dist
    command: sleep infinity
    networks:
      - v2g_network

  quasar-mock:
    image: oitc/modbus-server:latest
    command: ["-f", "/srvr_conf.json"]
    volumes:
      - ../charger-mocks/configs/quasar_charging_33pct.json:/srvr_conf.json:ro
    ports:
      - "5020:5020"
    networks:
      - v2g_network

networks:
  v2g_network:
    driver: bridge
